<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whd.dao.SignMapper">
  <resultMap id="BaseResultMap" type="com.whd.entity.Sign">
    <id column="course_Id" jdbcType="INTEGER" property="courseId" />
    <id column="student__Id" jdbcType="INTEGER" property="studentId" />
    <result column="check_In" jdbcType="VARCHAR" property="checkIn" />
    <result column="check_Out" jdbcType="VARCHAR" property="checkOut" />
    <result column="is_Sign" jdbcType="CHAR" property="isSign" />
  </resultMap>
  <sql id="Base_Column_List">
    course_Id, student__Id, check_In, check_Out, is_Sign
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.whd.entity.SignKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sign_information
    where course_Id = #{courseId,jdbcType=INTEGER}
      and student__Id = #{studentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.whd.entity.SignKey">
    delete from sign_information
    where course_Id = #{courseId,jdbcType=INTEGER}
      and student__Id = #{studentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whd.entity.Sign">
    insert into sign_information (course_Id, student__Id, check_In, 
      check_Out, is_Sign)
    values (#{courseId,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER}, #{checkIn,jdbcType=VARCHAR}, 
      #{checkOut,jdbcType=VARCHAR}, #{isSign,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.whd.entity.Sign">
    insert into sign_information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        course_Id,
      </if>
      <if test="studentId != null">
        student__Id,
      </if>
      <if test="checkIn != null">
        check_In,
      </if>
      <if test="checkOut != null">
        check_Out,
      </if>
      <if test="isSign != null">
        is_Sign,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="checkIn != null">
        #{checkIn,jdbcType=VARCHAR},
      </if>
      <if test="checkOut != null">
        #{checkOut,jdbcType=VARCHAR},
      </if>
      <if test="isSign != null">
        #{isSign,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whd.entity.Sign">
    update sign_information
    <set>
      <if test="checkIn != null">
        check_In = #{checkIn,jdbcType=VARCHAR},
      </if>
      <if test="checkOut != null">
        check_Out = #{checkOut,jdbcType=VARCHAR},
      </if>
      <if test="isSign != null">
        is_Sign = #{isSign,jdbcType=CHAR},
      </if>
    </set>
    where course_Id = #{courseId,jdbcType=INTEGER}
      and student__Id = #{studentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whd.entity.Sign">
    update sign_information
    set check_In = #{checkIn,jdbcType=VARCHAR},
      check_Out = #{checkOut,jdbcType=VARCHAR},
      is_Sign = #{isSign,jdbcType=CHAR}
    where course_Id = #{courseId,jdbcType=INTEGER}
      and student__Id = #{studentId,jdbcType=INTEGER}
  </update>
</mapper>